.jumbotron{
    background-image: url(https://i.ytimg.com/vi/lE6RYpe9IT0/maxresdefault.jpg);
    height: 100% 
    margin: 0;
    border: 0;
    padding: 0;
    
}
.btn{
    margin: 0;
    background-color: black;
    color: aliceblue;
    border: 5px;
    border-bottom-color: orange;
    border-color: orange;
    
    
    
    
        
}
.container-fluid{
    margin: 0;
    padding: 0;
    
}